a {
  text-decoration: none;
}

html, body {
  // background: url(/img/pattern.png);
  // background-size: 200px;

  background: $default;

  ::selection {
    background: $default; /* WebKit/Blink Browsers */
    color:#fff;
    border-radius: 6px;
  }
  ::-moz-selection {
    background: $default; /* Gecko Browsers */
    color:#fff;
    border-radius: 6px;
  }
}
 
h1,h2,h3,h4,h5 {
  font-weight:600 !important;
}

p {
  line-height:1.25em;
}

section {
  position:relative;
  .container {
    z-index:9;
    position:relative;
    padding: 0 20px;
  }
}

.button {
  &.inquire-button {
    background: $yellow;
    border-color: $yellow;
    color: #111;

    @media(max-width:567px){
      margin-bottom:8px;
      display: block;
      width:100%;
    }
  }
}

main {
  padding: 60px 24px;
  background: #fff;

  #logo {
    width:100%;
    height:auto;
    display:block;
    margin: 0 auto 24px;
    max-width:420px;

    img, svg {
      width:100%;
      height:auto;
    }
  }

  #entries {
    padding: 24px 0;
  }

  .entry {
    background:#fff;
    padding:16px 0;
    border: 5px solid #333;
    border-radius: 16px;
    overflow: hidden;
    margin: 12px 0 12px;
    transition: all .3s;

    &:hover {
      background: $yellow;

      .button.inquire-button {
        background: $default;
        color: #fff;

        &:hover, &:focus {
          color: $yellow;
        }
      }
    }

    .wrapper {
      padding: 8px 24px;
    }

    .overview {
      color:#111;

      &.with-image {
        display:flex;
        align-items:center;

        img {
          width:100%;
          height:auto;
          max-width:90px;
          border-radius: 75px;
          margin-right: 16px;
        }
      }

      h2 {
        a {
          color:#111;
        }
      }
    }

    .info {
      padding:0;
      margin: 8px 0 0 0;

      li {
        margin: 0 5px 0 0;
        padding: 3px;
        font-weight: 700;
        a {
          color: #333;
          &:hover, &:focus {
            text-decoration: underline;
          }
        }
      }
    }

    ul {
      list-style: none;
      display:inline-block;
      margin:0;
      padding:0;

      li {
        display: inline-block;
      }
    }

    .tags {
      padding-bottom:0;

      ul {
        list-style:none;
        padding:0;
        margin:0;

        li {
          font-size:14px;
          padding:0;
          margin:0;
          a {
            color: #444;
            padding: 6px 12px;
            background: #f2f2f2;
            border-radius:30px;
            font-weight:700;
            display: inline-block;
            margin-bottom:6px;

            &:hover, &:focus {
              color:#fff;
              background:#111;
            }
          }
        }
      }
    }
  
    .content {
      padding:40px;
  
      h2 {
        font-size:16px;
      }
  
      h3 {
        a {
          color: #000;
  
          &:hover, &:focus {
            text-decoration: underline;
          }
        }
      }
    }

    .actions {

      .buttons {
        @media(min-width:768px){
          margin: 0 8px 0 0;
        }
        @media(max-width:767px){
          margin: 0 8px 8px 0;
        }
      }
    }
  }

}

.news-entry {
  padding: 0;
  margin: 32px 0;
  display: block;

  .news-image {
    padding:0;
    margin:0;
    max-width:300px;

    @media(max-width:767px){
      margin-bottom:8px;
      padding: 0 16px 16px 16px;
      justify-content: left;
    }
  }

  .d-flex {
    flex-wrap: wrap;

    @media(max-width:767px){
      justify-content: left;
    }
  }

  img {
    border-radius: 8px;
  }

  h2 {
    font-family: $body-font;
    font-size: 16px;
    background: #111;
    display: inline-block;
    padding:8px 16px;
    margin-bottom:8px;
    border-radius:30px;

    a {
      color:$yellow;
    }
  }

  h3 {
    margin:0;
    padding:0;
    a {
      color: #111;
    }
  }

  .content {
    padding: 0 12px;
  }

  &.with-image {
    .content {
      padding: 0 24px;
    }
  }

  p {
    font-size:1em;
  }
}

.social-share {
  list-style: none;
  margin:0 0 2rem;
  padding:0;

  li {
    display: inline-block;
    text-shadow: 0px 1px 2px rgba(0,0,0,.55);

    &.facebook {
      .button {
        background: $facebook-blue;
        border-color: $facebook-blue;
      }
    }

    &.twitter {
      .button {
        background: darken($twitter-blue, 5%);
        border-color: darken($twitter-blue, 5%);
      }
    }
  }
}

header {
  padding:8px 16px;
  position: relative;
  z-index: 90;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background: #111;

  #headerLogo {
    display:inline-block;
    width:120px;
    padding:0 5px;
    margin:0 1rem 0 0;

    @media(max-width:575px){
      width:125px;
    }

    img {
      width:100%;
      height:auto;
    }
  }

  nav {
    position:relative;
    display:inline-block;
    font-weight: 600;

    #toggle-menu {
      display:none;
      font-size:1em;
      font-size:1em;
      padding:10px;
      color:#fff;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;

      i {
        color: $yellow;
      }

      &:hover, &:focus {
        background: $btn-color;
        color:#fff;
        text-decoration: none;
      }


      @media(max-width:991px){
        display:inline-block;
      }

    }

    ul {
      list-style:none;
      padding:0;
      margin:0;
      border-radius: 0 0 12px 12px;

      @media(max-width:991px){
        display:none;
        position:absolute;
        background:#111;
        width:200px;
        z-index: 99;
        left:0;
      }

      li {
        display:inline-block;
        margin:5px;

        @media(max-width:991px){
          width:100%;
          margin:0;
          padding:0;
        }

        &.social {
          font-size:1.65em;
          vertical-align: middle;
          margin:2px;
          font-weight:normal;

          @media(max-width:991px){
            width:auto;
            margin:0;
          }

        }

        a {
          padding:5px;
          color:#fff;
          border-top: 3px solid $default;

          &:hover, &:focus {
            text-decoration: none;
            color: $yellow;
          }

          @media(max-width:991px){
            display:block;
            padding:10px;

            &:hover, &:focus {
              border-top: 3px solid $yellow;
            }

          }

        }
      }
    }
  }

  #headerRight {
    position:relative;
    display:inline-block;
    font-weight: 600;
    list-style:none;
    padding:0;
    margin:0;

      li {
        display:inline-block;
        margin:5px;

        @media(max-width:767px){
          width:100%;
          margin:0;
          padding:0;
        }

        &.social {
          font-size:1.65em;
          vertical-align: middle;
          margin:2px;
          font-weight:normal;

          @media(max-width:767px){
            width:auto;
            margin:0;
          }

        }

        a {
          padding:5px;
          color:#fff;

          &:hover, &:focus {
            text-decoration: underline;
          }

          @media(max-width:767px){
            display:block;
            padding:10px;

            &:hover, &:focus {
              background: darken(#f3f3f3,10%);
            }

          }

        }
      }

      .button {
        background: $yellow;
        border-color: $yellow;
        color: #111;
      }
  }
}

#banner {
  background:$yellow;
  color:$default;
  font-size:20px;
  padding: 60px 0;

  @media(max-width: 767px){
    font-size:15px;
  }

  h1,h2 {
    font-size:60px;

    @media(max-width:767px){
      font-size:3.25em;
    }
  }

  p {
    font-size:1.25em;

    a {
      font-weight:bold;
      color:#fff;
      
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  video {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
  }
  .video-wrapper iframe {
      width: 100vw;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .bg-image {
    @extend .video-wrapper
   }


}

#filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0 0 0;
  padding:0 5px;

  select {
    border:none;
    padding:.25rem .75rem .25rem .7rem;
    font-size:1.25rem;
    color:$default;
    width:100%;
    height:$line-height-desktop;
    line-height:$line-height-desktop - 5px;
    -webkit-border-radius: $form-radius;
    -moz-border-radius: $form-radius;
    border-radius: $form-radius;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    border: 1px solid #ccc;
    background: #f2f2f2;

    //@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    //  line-height:2.2rem;
    //}

    @media(max-width:767px){
      height: $line-height-mobile;
      line-height: $line-height-mobile - 5px;
      font-size:1.1rem;
      padding:.25rem .75rem .25rem .7rem;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $light-grey;
      -webkit-transition: all .25s;
      -moz-transition: all .25s;
      -ms-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
      opacity:0;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $light-grey;
      -webkit-transition: all .25s;
      -moz-transition: all .25s;
      -ms-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
      opacity:0;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $light-grey;
      -webkit-transition: all .25s;
      -moz-transition: all .25s;
      -ms-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
      opacity:0;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $light-grey;
      -webkit-transition: all .25s;
      -moz-transition: all .25s;
      -ms-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
      opacity:0;
    }

    &:focus {
      outline:none;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        opacity:1;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        opacity:1;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        opacity:1;
      }
      &:-moz-placeholder { /* Firefox 18- */
        opacity:1;
      }
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      &:-ms-input-placeholder { /* IE 10+ */
        color: $light-grey;
        opacity: 1;
      }
    }

  }

  label {
    white-space: nowrap;
    padding:0;
    margin:0 10px  0 0;
    font-weight:900;
    font-size:1.5em;

    @media(max-width:467px){
      font-size:1.2em;
    }
  }
}

form {
  .col {
    input, textarea, select {
      border-color:#fff;

      &:hover, &:focus {
        border-color:$yellow;
      }
    }

    .button {
      margin-top: 0 !important;
    }
  }

}

#clients {
  padding: 42px 0 32px;
  background: #fff;

  .container-fluid {
    padding:0;
  }

  .client-logos {
    padding-top: 0.5rem;

    .item {
      /* Change the Logo Height to Adjust Size */
      height: 150px;
      align-items: center;
      padding: 8px 3.5rem 0;
      .logoBx {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          position: relative;
          object-fit: cover;
          object-position: center center;
          width: 100%;
          height: 100%;
          filter: grayscale(1);
        }
      }
    }
  }
}

#signup {
  padding:2rem 0;
  background:$default;

  .container {
    max-width:1200px;
  }

  h2 a {
    color: #fff;
  }
}


#formSection {
  background:#333;

  .container {
    max-width:1000px;
  }

  .checkbox {
    color:#fff;

    input[type=checkbox]:checked+label:before {
      color: $yellow;
    }
  }

}

footer {
  padding:3rem 0 10rem;
  background: $default;
  color:#fff;

  #footerLogo {
    width:100%;
    height:auto;
    display:block;
    max-width:320px;
    margin:0 auto 32px;

    img {
      width:100%;
      height:auto;
    }
  }

  a {
    &:hover, &:focus {
      color: $yellow;
      text-decoration: underline;
    }
  }

  #footerSocial {
    list-style:none;
    padding:0;
    margin:0;

    li {
      display:inline-block;
      margin:5px;

      &.social {
        font-size:1.65em;
        vertical-align: middle;
        margin:2px;
      }

      a {
        padding:5px;
        color: #fff;
      }
    }

  }

  p {
    a {
      color:#fff;
    }
  }
}

.mfp-bg {
  background: $default;
}

//* {
//  transition: filter .25s;
//}
//.mfp-wrap ~ * {
//  filter: blur(10px);
//}

#inquire {
  background:#fff;
  padding:5%;

  .button {
    margin-top:1rem;
  }
}


#section-1 {
  color:#333;
  background: #f3f3f3;

  @media(max-width:767px){
    padding-top:0;
  }
  .bg-image {
    width:56%;
    height:100%;
    top:0;
    left:0;
  
    &:before {
      content:'';
      width:100%;
      height:100%;
      display:block;
      position:absolute;
      top:0; 
      left:0;
      background: linear-gradient(270deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 40%);
      z-index: 9;
    }
  
    @media(max-width:767px){
      height:350px;
      width:100%;
  
      &:before{
        background: linear-gradient(360deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 35%);
      }
    }
  }
}

#section-2 {
  color:#333;
  background: #f3f3f3;

  @media(max-width:575px){
    padding-top:0;
  }

  video {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
  }
  .video-wrapper iframe {
      width: 100vw;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .bg-image {
    width:60%;
    height:100%;
    top:0;
    left:50%;
    position:absolute;
  
    &:before {
      background: none;
    }
  
    @media(max-width:575px){
      height:350px;
      width:100%;
      position:relative;
      left:0;
      margin-bottom:20px;
  
      &:before{
        background: none;;
      }
    }
  }
}

#home {

  header {
    #headerLogo {
      display: none;
    }
  }

  h1 {
    font-size:60px;

    @media(max-width:767px){
      font-size:40px;
    }

    ::selection {
      background: $yellow; /* WebKit/Blink Browsers */
      color:#111;
      border-radius: 6px;
    }
    ::-moz-selection {
      background: $yellow; /* Gecko Browsers */
      color:#111;
      border-radius: 6px;
    }

  }

  #latest-news {
    background: $yellow;
    padding: 80px 0;

    h2 {
      color: #111;
    }
  }

  .standard-home {
    padding:20px 0;
    img {
      @media(max-width:575px){
        margin-bottom:20px;
      }
    }
  }
}

.single-default {

  #banner {

    .container {
      max-width:900px;
    }
  
  }

  main {

    padding: 32px 0;
    
    .container {

      h2, h3, h4, h5 {
        margin-bottom:24px;
      }

      h2 {
        font-size:48px;
      }

      h3 {
        font-size:32px;
      }

      h4 {
        font-size: 24px;
      }

      p {
        margin: 8px 0;

        a {
          color: #111;
          text-decoration: underline;
          background-color: $yellow;
          padding:0 3px;
          font-weight:700;

          &:hover, &:focus {
            color: #fff;
            background: $default;
          }
        }
      }

      h5 {
        font-weight:400;
      }

      img, figure {
        margin-top:.5rem;
      }

      .img-fluid {
        width:100%;
        height:auto;
        img {
        @extend .img-fluid;
        }
      }

      blockquote {
        padding-left: 30px;
        margin-top:1rem;
        margin-bottom:1rem;
        position: relative;

        &:before {
          content:'';
          width:5px;
          height:100%;
          background: $yellow;
          display:block;
          position:absolute;
          left:0;
          top:0;
        }
      }
    }
  }
}

#jobboard, #resources {
  h2 {
    text-align: center;
  }

  main {
    a {
      display: block;
      text-align: center;
    }
  }
}

.mfp-close {
  color:#fff !important;
  top: -10px;
}

#submit {
  h2, h3, p {
    color:#fff;
    text-align: center;
  }

  form {
    margin-top:20px;

    .button {
      background: $yellow;
      color:#111;
      border-color: $yellow;
    }
  }

  h2 img {
    width:40px;
    margin-top:-8px;
    height:auto;
    display:inline-block;
  }

  .fields {
    padding:16px 0;
  }
}

#launch-post {
  main {
    img {
      max-width:200px;
    }
  }
}

.freelancer-single {

  #banner {
    .image {
      max-width:300px;
      margin:0 auto 24px;
      display:block;
      width:100%;
      height:auto;
      border-radius: 150px;
    }
  }
  .info {
    padding:0;
    margin: 8px 0 0 0;

    li {
      margin: 0 5px 0 0;
      padding: 3px;
      font-weight: 700;
      a {
        color: #111;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  ul {
    list-style: none;
    display:inline-block;
    margin:0;
    padding:0;

    li {
      display: inline-block;
    }
  }

  .actions {
    .buttonOutline {
      border: 2px solid #111 !important;
    }
    .entry-buttons {
      @media(min-width:768px){
        margin: 0 8px 0 0;
      }
      @media(max-width:767px){
        margin: 0 8px 8px 0;
      }
    }
  }
}