<form accept-charset="UTF-8" action='{{ .Site.Params.form_endpoint }}'method="POST">

    <input type="hidden" name="utm_source" value="">
    <input type="hidden" name="utm_medium" value="">
    <input type="hidden" name="utm_campaign" value="">

    <div class="col col-12 labelToggle">
        <label for="reason" id="reasonLabel">What would you like to submit?*</label>
        <select name="reason" id="reason">
            <option value=""></option>
            <option value="freelancer">Freelancer Profile</option>
            <option value="job">Freelance Job Opportunity</option>
            <option value="resource">Resources</option>
            <option value="other">Everything Else!</option>
        </select>
    </div>

    <div class="col col-12 col-sm-3 labelToggle">
        <label for="first_name">First Name*</label>
        <input type="text" id="first_name" class="formField" name="first_name" placeholder="ex. John or Jane" required>
    </div>

    <div class="col col-12 col-sm-3 labelToggle">
        <label for="last_name">Last Name*</label>
        <input type="text" id="last_name" class="formField" name="last_name" placeholder="ex. Doe" required>
    </div>

    <div class="col col-12 col-sm-6 labelToggle">
        <label for="email">Email Address*</label>
        <input type="email" id="email" name="email" placeholder="ex. yourname@email.com" required class="formField labelToggle">
    </div>

    <div id="freelancerFields" class="fields">
        <div class="col col-12"><h3>Freelancer Profile Entry Information:</h3></div>
        <div class="col col-12 labelToggle">
            <label for="freelancer_title">Freelancer Name or Company Name*</label>
            <input type="text" id="freelancer_title" class="formField" name="freelancer_title" required>
        </div>
        <div class="col col-12 labelToggle">
            <label for="freelancer_website">Website URL*</label>
            <input type="text" id="freelancer_website" class="formField" name="freelancer_website" required>
        </div>
        <div class="col col-12 labelToggle">
            <label for="freelancer_linkedin">Linkedin Link</label>
            <input type="text" id="freelancer_linkedin" class="formField" placeholder="Add n/a if not desired" name="freelancer_linkedin" required>
        </div>
        <div class="col col-12 labelToggle">
            <label for="profile_image">Profile Image or Logo Link (Must be square ratio)</label>
            <input type="text" id="profile_image" class="formField" placeholder="Add n/a if not desired" name="profile_image" required>
        </div>
        <div class="col col-12 labelToggle">
            <label for="tags">Desired Categories / Industry Tags*</label>
            <textarea name="tags" id="tags" cols="30" rows="10" placeholder="We'll likely curate these a bit, but add as many as you'd like in order of priority" class="formField labelToggle" required></textarea>
        </div>

        <div class="col col-12 labelToggle">
            <label for="biography">Your Biography (max 1000 characters)</label>
            <textarea name="biography" id="biography" cols="30" rows="10" maxlength="1000" placeholder="Add n/a if not desired" class="formField labelToggle"></textarea>
        </div>
    </div>

    <div id="jobFields" class="fields">
        <div class="col col-12"><h3>Job Listing Entry Information:</h3></div>
        <div class="col col-12 labelToggle">
            <label for="job_title">Job Title / Position Entry Title*</label>
            <input type="text" id="job_title" class="formField" name="job_title" required>
        </div>
        <div class="col col-12 labelToggle">
            <label for="job_company">Company Name*</label>
            <input type="text" id="job_company" class="formField" name="job_company" required>
        </div>
        <div class="col col-12 labelToggle">
            <label for="job_website">Company Website URL*</label>
            <input type="text" id="job_website" class="formField" name="job_website" required>
        </div>
        <div class="col col-12 labelToggle">
            <label for="job_tags">Desired Categories / Industry Tags*</label>
            <textarea name="job_tags" id="job_tags" cols="30" rows="10" placeholder="We'll likely curate these a bit, but add as many as you'd like in order of priority" class="formField labelToggle" required></textarea>
        </div>
        <div class="col col-12 labelToggle">
            <label for="job_description">Job Description (max 1000 characters)</label>
            <textarea name="job_description" id="job_description" cols="30" rows="10" maxlength="1000" placeholder="Add n/a if not desired" class="formField labelToggle"></textarea>
        </div>
    </div>

    <div id="resourceFields" class="fields">
        <div class="col col-12"><h3>Resource Listing Entry Information:</h3></div>
        <div class="col col-12 labelToggle">
            <label for="resource_title">Resource Title / Name*</label>
            <input type="text" id="resource_title" class="formField" name="resource_title" required>
        </div>
        <div class="col col-12 labelToggle">
            <label for="resource_website">Website URL*</label>
            <input type="text" id="resource_website" class="formField" name="resource_website" required>
        </div>
        <div class="col col-12 labelToggle">
            <label for="job_tags">Desired Categories / Industry Tags*</label>
            <textarea name="job_tags" id="job_tags" cols="30" rows="10" placeholder="We'll likely curate these a bit, but add as many as you'd like in order of priority" class="formField labelToggle" required></textarea>
        </div>
        <div class="col col-12 labelToggle">
            <label for="resource_description">Resource Description (max 1000 characters)</label>
            <textarea name="resource_description" id="resource_description" cols="30" rows="10" maxlength="1000" placeholder="Add n/a if not desired" class="formField labelToggle"></textarea>
        </div>
    </div>

    <div id="everythingFields" class="fields">
        <div class="col col-12 labelToggle">
            <label for="message">Your Message...</label>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="What's up?" class="formField labelToggle"></textarea>
        </div>
    </div>

    <div class="col">
        <button type="submit" class="button">Submit</button>
    </div>

    <style>
        #freelancerFields, #jobFields, #resourceFields, #everythingFields {
            display: none;
        }
    </style>

</form>