<div id="preloader"></div>

<header aria-label="header">
    <div>
        <a href='{{ "/" | relURL }}' id="headerLogo"><img src="/img/header-logo.svg" alt="Austin Freelance Jobs Abbreviated Logo"></a>
    
        <nav role="navigation" aria-label="menu">
            <a href="javascript:void(0)" id="toggle-menu"><i class="fa fa-bars"></i>&nbsp; Menu</a>
            <ul>
                {{ partial "menu.html" . }}
            </ul>
        </nav>
    </div>

    <ul id="headerRight">
        {{ partial "social.html" . }}
        <a href="#formSection" class="button">Submit a Profile or Job &rsaquo;</a>
    </ul>

</header>