<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{{ $js := resources.Get "js/plugins.js" }}
{{ $secureJS := $js | resources.Minify }}
<script src="{{ $secureJS.Permalink }}"></script>

<script type="text/javascript" src="https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js"></script>

<script>
    // init Isotope
    var $grid = $('#entries').isotope({
        itemSelector: '.entry',
        layoutMode: 'vertical'
    });
    // filter functions
    var filterFns = {
        // show if number is greater than 50
        numberGreaterThan50: function() {
            var number = $(this).find('.number').text();
            return parseInt( number, 10 ) > 50;
        },
        // show if name ends with -ium
        ium: function() {
            var name = $(this).find('.name').text();
            return name.match( /ium$/ );
        }
    };
    // bind filter on select change
    $('.filters-select').on( 'change', function() {
        // get filter value from option value
        var filterValue = this.value;
        // use filterFn if matches value
        filterValue = filterFns[ filterValue ] || filterValue;
        $grid.isotope({ filter: filterValue });
    });

    $(window).resize(function(){
        $('#entries').isotope('layout');
    });

    $(window).load(function() {
        $('#entries').isotope('layout');
    });
</script>

<script>
    $(document).ready(function () {
        // Initial check on page load
        checkReasonSelection();

        // Attach event handler on select change
        $('#reason').on('change', function () {
            checkReasonSelection();
        });

        function checkReasonSelection() {
            var selectedValue = $('#reason').val();
            var freelancerFields = $('#freelancerFields');

            // If Retail or Hospitality is selected, show the additional fields
            if (selectedValue === 'freelancer') {
                freelancerFields.show();
                // Add 'required' attribute to the fields
                freelancerFields.find('[name]').prop('required', true);
            } else {
                // Hide the additional fields if any other option is selected
                freelancerFields.hide();
                // Remove 'required' attribute from the fields
                freelancerFields.find('[name]').prop('required', false);
            }
        }
    });

    $(document).ready(function () {
        // Initial check on page load
        checkReasonSelectionJob();

        // Attach event handler on select change
        $('#reason').on('change', function () {
            checkReasonSelectionJob();
        });

        function checkReasonSelectionJob() {
            var selectedValue = $('#reason').val();
            var jobFields = $('#jobFields');

            // If Retail or Hospitality is selected, show the additional fields
            if (selectedValue === 'job') {
                jobFields.show();
                // Add 'required' attribute to the fields
                jobFields.find('[name]').prop('required', true);
            } else {
                // Hide the additional fields if any other option is selected
                jobFields.hide();
                // Remove 'required' attribute from the fields
                jobFields.find('[name]').prop('required', false);
            }
        }
    });
    
    $(document).ready(function () {
        // Initial check on page load
        checkReasonSelectionResource();

        // Attach event handler on select change
        $('#reason').on('change', function () {
            checkReasonSelectionResource();
        });

        function checkReasonSelectionResource() {
            var selectedValue = $('#reason').val();
            var resourceFields = $('#resourceFields');

            // If Retail or Hospitality is selected, show the additional fields
            if (selectedValue === 'resource') {
                resourceFields.show();
                // Add 'required' attribute to the fields
                resourceFields.find('[name]').prop('required', true);
            } else {
                // Hide the additional fields if any other option is selected
                resourceFields.hide();
                // Remove 'required' attribute from the fields
                resourceFields.find('[name]').prop('required', false);
            }
        }
    });
    
    $(document).ready(function () {
        // Initial check on page load
        checkReasonSelectionEverything();

        // Attach event handler on select change
        $('#reason').on('change', function () {
            checkReasonSelectionEverything();
        });

        function checkReasonSelectionEverything() {
            var selectedValue = $('#reason').val();
            var everythingFields = $('#everythingFields');

            // If Retail or Hospitality is selected, show the additional fields
            if (selectedValue === 'other') {
                everythingFields.show();
                // Add 'required' attribute to the fields
                everythingFields.find('[name]').prop('required', true);
            } else {
                // Hide the additional fields if any other option is selected
                everythingFields.hide();
                // Remove 'required' attribute from the fields
                everythingFields.find('[name]').prop('required', false);
            }
        }
    });
</script>