{{ partial "head.html" . }}

<body id="home">

{{ partial "header.html" . }}


<main role="main" class="main-sections">

    <div class="container">

        <div class="row">
            <div class="col-12 text-center">
                <a href='{{ "/" | relURL }}' id="logo">{{ partial "logo.html" . }}</a>
                <h1>Find Local Austin, TX <span>Freelancers</span></h1>
                <p>Just a simple source for local independant contractor talent and jobs looking to fill short-term or freelance positions.</p>
                <a href="#submit" class="button open-popup-link mt-3">Submit a Profile or Job &rsaquo;</a>
            </div>
        </div>
        
        <div id="browse" class="row">
            <div id="filter" class="col-12">
                <label for="filter-select">Filter By:</label>
                <select id="filter-select" class="filters-select select-css">
                <option value="*">Show All Tags</option>
    
                {{ range .Site.Taxonomies.tags }}
                <option value=".{{ .Page.Title | lower | urlize }}">{{ .Page.Title }} - <span>({{ .Count }})</span></option>
                {{ end }}
    
                </select>
            </div>
        </div>

        <div id="entries" class="row">
            {{ range where (.Site.RegularPages.ByTitle) "Type" "freelancers" }}
            {{ partial "entry.html" .}}
            {{end}}
        </div>

    </div>

    {{ partial "page-sections.html" .}}
</main>

{{ partial "latest-news.html" . }}

{{/*  {{ partial "client-logos.html" .}}  */}}

{{ partial "signup.html" .}}

{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}

<!-- Enable for NetlifyCMS -->
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>

</body>
</html>